<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wb.ssm.dao.AccountMapper" >
  <resultMap id="accountResultMap" type="cn.wb.ssm.entity.Account" >
    <id column="acc_id" property="accId" jdbcType="INTEGER" />
    <result column="acc_login" property="accLogin" jdbcType="VARCHAR" />
    <result column="acc_name" property="accName" jdbcType="VARCHAR" />
    <result column="acc_pass" property="accPass" jdbcType="VARCHAR" />
  </resultMap>
 	
  	<select id="login" parameterType="cn.wb.ssm.entity.Account" resultMap="accountResultMap">
  		select * from account where acc_login = #{accLogin} and acc_pass = #{accPass};
  	</select>
  	
  	<update id="update" parameterType="cn.wb.ssm.entity.Account" >
		update account set
		acc_pass=#{accPass}
		where
		acc_login=#{accLogin}	
	</update>
	
	  <insert id="insert" parameterType="cn.wb.ssm.entity.Account">
		insert into account
		(acc_id,acc_login,acc_name,acc_pass)
		values
		(#{accId},#{accLogin},#{accName},#{accPass});
	</insert>
	
	<select id="selectPageListDyc" parameterType="cn.wb.ssm.entity.Page" resultMap="accountResultMap">
  	select * from account
  	<where>
  		<if test="#{paramEntity.accLogin}!=null">and acc_login like #{paramEntity.accLogin}</if>
  	</where>
  	limit #{start},#{rows}
  </select>

  <select id="selectPageListDycCount" parameterType="cn.wb.ssm.entity.Page" resultType="Integer">
  	select count(*) from account
  	<where>
  		<if test="#{paramEntity.accLogin}!=null">and acc_login like #{paramEntity.accLogin}</if>
  	</where>
  </select>
  
  <delete id="deleteList">
  	delete from account where acc_id in
	<foreach collection="array" open="(" close=")" separator="," item="pk">
		#{pk}
	</foreach>
	</delete>
	
	<select id="select" parameterType="cn.wb.ssm.entity.Account" resultType="Account">
  	select * from account where acc_login=#{accLogin};
  </select>
  
  
  <select id="selects" resultMap="accountResultMap">
  	select * from account;
  </select>
</mapper>