<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wb.ssm.dao.SupplierMapper" >
  <resultMap id="supplierResultMap" type="cn.wb.ssm.entity.Supplier" >
    <id column="sup_id" property="supId" jdbcType="INTEGER" />
    <result column="sup_name" property="supName" jdbcType="VARCHAR" />
    <result column="sup_linkman" property="supLinkman" jdbcType="VARCHAR" />
    <result column="sup_phone" property="supPhone" jdbcType="VARCHAR" />
    <result column="sup_address" property="supAddress" jdbcType="VARCHAR" />
    <result column="sup_remark" property="supRemark" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="supplier">
		insert into supplier
		(sup_id,sup_name,sup_linkman,sup_phone,sup_address,sup_remark,sup_type,sup_pay)
		values
		(#{supId},#{supName},#{supLinkman},#{supPhone},#{supAddress},#{supRemark},#{supType},#{supPay});
	</insert>
  
  <!-- 根据主键修改供应商信息 -->
	<update id="update" parameterType="supplier" >
		update supplier set
		sup_name=#{supName},sup_linkman=#{supLinkman},sup_phone=#{supPhone},
		sup_address=#{supAddress},sup_remark=#{supRemark},sup_type=#{supType},sup_pay=#{supPay}
		where
		sup_id=#{supId}	
	</update>
	
  <select id="selectPageList" parameterType="cn.wb.ssm.entity.Page" resultMap="supplierResultMap">
  	select * from supplier where sup_name like #{keyWord} limit #{start},#{rows}
  </select>

  <select id="selectPageCount" parameterType="cn.wb.ssm.entity.Page" resultType="Integer">
  	select count(1) from supplier where sup_name like #{keyWord}
  </select>
  
  <select id="selectPageListDyc" parameterType="cn.wb.ssm.entity.Page" resultMap="supplierResultMap">
  	select * from supplier
  	<where>
  		<if test="#{paramEntity.supName}!=null">and sup_name like #{paramEntity.supName}</if>
  		<if test="#{paramEntity.supAddress}!=null">and sup_address like #{paramEntity.supAddress}</if>
  	</where>
  	limit #{start},#{rows}
  </select>

  <select id="selectPageListDycCount" parameterType="cn.wb.ssm.entity.Page" resultMap="supplierResultMap">
  	select count(1) from supplier
  	<where>
  		<if test="#{paramEntity.supName}!=null">and sup_name like #{paramEntity.supName}</if>
  		<if test="#{paramEntity.supAddress}!=null">and sup_address like #{paramEntity.supAddress}</if>
  	</where>
  </select>
</mapper>